/*.hs
/.Makefile.coq.d
/Makefile.coq
/Makefile.coq.conf
/extract/src/Applicative.hs
/extract/src/Ascii.hs
/extract/src/BinInt.hs
/extract/src/BinNat.hs
/extract/src/BinNums.hs
/extract/src/BinPos.hs
/extract/src/Bltn.hs
/extract/src/Capability.hs
/extract/src/CapabilityType.hs
/extract/src/Classes.hs
/extract/src/Const.hs
/extract/src/Datatypes.hs
/extract/src/Either.hs
/extract/src/EqDec.hs
/extract/src/EqDecInstances.hs
/extract/src/Eval.hs
/extract/src/Exp.hs
/extract/src/Functor.hs
/extract/src/Identity.hs
/extract/src/Ilist.hs
/extract/src/Init.hs
/extract/src/Lang.hs
/extract/src/Lens.hs
/extract/src/Lib.hs
/extract/src/List.hs
/extract/src/Logic.hs
/extract/src/Ltac.hs
/extract/src/Monad.hs
/extract/src/Monoid.hs
/extract/src/Nat.hs
/extract/src/RWSE.hs
/extract/src/Ren.hs
/extract/src/SemBltn.hs
/extract/src/SemExp.hs
/extract/src/SemTy.hs
/extract/src/Semigroup.hs
/extract/src/Signature.hs
/extract/src/Specif.hs
/extract/src/Ssrbool.hs
/extract/src/String.hs
/extract/src/Tuple.hs
/extract/src/Ty.hs
/extract/src/Value.hs
/tla/states/
flycheck_*.*